body {
  height: 100%;
  width: 100%;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(95, 228, 228);
}

#name {
  border-radius: 50px;
  height: 50px;
  width: 300px;
}

.head {
  text-transform: capitalize;
  font-family: sans-serif;
}

.pokname {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 60px;
}

.pokemon {
  display: flex;
  justify-content: space-around;
}

.info {
  display: block;
  width: 50%;
}

img {
  width: 475px;
  height: 475px;
}

.des {
  font-size: 30px;
  width: 30ch;
  font-family: sans-serif;
}

.everything {
  height: 100vh;
  width: 100%;
}

.inf {
  display: flex;
  background-color: orange;
}

.statText {
  display: inline;
}

.text {
  font-family: cursive;
  font-size: 20px;
}

.hidden {
  height: 0;
  display: none;
}

.visible {
  width: 85ch;
}

.move {
  text-transform: capitalize;
}
