* {
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

.hidden2 {
  display: none;
}

.search {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgb(95, 228, 228);
}

#name {
  border-radius: 50px;
  height: 50px;
  width: 300px;
}

.head {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
}

.pokname {
  text-transform: uppercase;
  font-family: "Share Tech Mono", monospace;
  font-size: 60px;
}

.pokemon {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.info {
  display: block;
  width: 50%;
}

img {
  width: 475px;
  height: 475px;
}

.des {
  font-size: 30px;
  width: 30ch;
  font-family: "Quicksand", sans-serif;
}

.everything {
  height: 100vh;
  width: 100%;
}

.inf {
  display: flex;
  justify-content: space-around;
  background-color: orange;
}

.statText {
  display: inline;
  text-transform: capitalize;
  font-family: "Share Tech Mono", monospace;
}

.text {
  font-family: cursive;
  font-size: 20px;
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

.visible {
  height: 100px !important;
  width: 85ch !important;
}

.move {
  text-transform: capitalize;
}

.pop {
  height: 50vh;
  width: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aquamarine;
  z-index: 50;
}

.textpop {
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.651);
}

.img {
  width: 300px;
  height: 300px;
  image-rendering: pixelated;
  display: inline;
}

.images {
  display: flex;
  justify-content: center;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 80px;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  font-family: cursive;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.ud {
  height: 50px;
}

button {
  all: unset;
  cursor: pointer;
}

.random {
  width: 200px;
  height: 100px;
  background-color: rgb(235, 222, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s ease;
}

.random:hover {
  background-color: rgb(164, 147, 180);
}

.random:active {
  transform: scale(2);
}

.rend {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
}

.text,
.des {
  margin-top: 25px;
}

.inf {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
